.align{
  margin-left: 30px;
  margin-top: 30px;
  width: 30%;
}

.font{
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.playermove{
  color: green;
}

.cpumove{
  color: red;
}

.roundresult{
  color: black;
  font-weight: 700;
}

li{
  font-style: italic;
  list-style: none;
}

#container{
  display:flex;
  justify-content: space-around;
}

#answercontainer{
  display:flex;
  flex-direction: column;
}

#answers{
  font-size: 27px;
  text-align: center;
  display:flex;
  justify-content: center;
}

input[type="submit"]{
  color: white;
  width: 75px;
  line-height: 28px;
  padding: 10px;
  background-color: #7a7ae6;
  border: 1px solid #8484e0;
  border-radius: 5px;
}

input[type="submit"]:disabled{
  background-color: #949494;
  border: 1px solid #949494;
  color: #c2c2c2;
}
